@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/NotoSansJP-VariableFont_wght.ttf");
}

$font-fam: "Noto Sans";

$color-1: #23243b;
$color-2: #515368;
$color-3: #fe4a57;
$color-4: #fafeff;

* {
  font-family: $font-fam;
  box-sizing: border-box;
}

body {
  margin: 0;
  // padding: 1rem;
  font-size: 1.25rem;
  background-color: $color-1;
  color: $color-4;

  & > * {
    padding-inline: 8rem;
    position: relative;
  }
}

.main-head {
  box-shadow: inset 0px -5px 15px -3px darken($color-1, 10%);
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $color-4;
    text-decoration: none;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: $color-4;
    margin: 0;

    .logo-letter {
      color: $color-3;
    }
  }

  .options-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .option {
      font-size: 0.95rem;
      position: relative;

      &::after {
        content: "";
        background-color: $color-4;
        height: 2px;
        width: 0%;
        position: absolute;
        left: -100%;
        bottom: -10px;
        transition: width ease-in-out 200ms;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.main-cont {
  display: grid;
  gap: 2rem;
  padding-block: 4rem;

  & > * {
    margin: 0;
  }

  .main-title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3rem;
  }

  .main-desc {
    width: 35ch;
    color: $color-2;
  }

  .main-btn {
    background-color: $color-3;
    color: $color-4;
    width: 20%;
    border: none;
    outline: none;
    padding: clamp(10px, 5vw, 1rem);
    border-radius: 0.1rem;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;

    &:hover {
      background-color: lighten($color-3, 10%);
    }
  }
}

.wrapper-indicator {
  position: absolute;
  height: 10rem;
  width: 1px;
  background-color: $color-2;
  top: 50%;
  right: 8rem;
  transform: translateY(-50%);

  .indicator {
    width: 1rem;
    aspect-ratio: 1;
    background-color: $color-1;
    outline: 1px solid $color-3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }

  .active {
    background-color: $color-3;
  }

  @for $i from 0 through 2 {
    .indicator:nth-child(#{$i + 1}) {
      top: 50% * $i;
    }
  }
}
