@font-face {
  font-family: "Noto Sans";
  src: url("assets/fonts/NotoSansJP-VariableFont_wght.ttf");
}
* {
  font-family: "Noto Sans";
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.25rem;
  background-color: #23243b;
  color: #fafeff;
}
body > *:not(.main-head) {
  padding-inline: 12rem 16rem;
  position: relative;
}

.main-head {
  box-shadow: inset 0px -5px 15px -3px #10101b;
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12rem;
}
.main-head a {
  color: #fafeff;
  text-decoration: none;
}
.main-head .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fafeff;
  margin: 0;
}
.main-head .logo .logo-letter {
  color: #fe4a57;
}
.main-head .options-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.main-head .options-list .option {
  font-size: 0.95rem;
  position: relative;
}
.main-head .options-list .option::after {
  content: "";
  background-color: #fafeff;
  height: 2px;
  width: 0%;
  position: absolute;
  left: -100%;
  bottom: -10px;
  transition: width ease-in-out 200ms;
}
.main-head .options-list .option:hover::after {
  width: 100%;
}

.main-cont {
  display: grid;
  gap: 2rem;
  padding-block: 4rem;
}
.main-cont > * {
  margin: 0;
}
.main-cont .main-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}
.main-cont .main-desc {
  width: 35ch;
  color: #515368;
}
.main-cont .main-btn {
  background-color: #fe4a57;
  color: #fafeff;
  width: 20%;
  border: none;
  outline: none;
  padding: clamp(10px, 5vw, 1rem);
  border-radius: 0.1rem;
  cursor: pointer;
  transition: background-color ease-in-out 200ms;
}
.main-cont .main-btn:hover {
  background-color: #fe7d86;
}

.wrapper-indicator {
  position: absolute;
  height: 10rem;
  width: 1px;
  background-color: #515368;
  top: 50%;
  right: 10rem;
  transform: translateY(-50%);
}
.wrapper-indicator .indicator {
  width: 1rem;
  aspect-ratio: 1;
  background-color: #23243b;
  outline: 1px solid #fe4a57;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.wrapper-indicator .active {
  background-color: #fe4a57;
}
.wrapper-indicator .indicator:nth-child(1) {
  top: 0%;
}
.wrapper-indicator .indicator:nth-child(2) {
  top: 50%;
}
.wrapper-indicator .indicator:nth-child(3) {
  top: 100%;
}

.skills {
  display: grid;
  gap: 2rem;
  padding-block: 4rem;
}
.skills .skills-title {
  color: #fe4a57;
  font-size: 3rem;
  position: relative;
}
.skills .skills-title::before {
  content: "Services";
  position: absolute;
  color: #fafeff;
  left: 0rem;
  top: -1rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.skills .skills-title::after {
  content: "";
  background-color: #fe4a57;
  width: 10%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -1rem;
}
.skills .skills-box {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;
  justify-content: center;
}
.skills .skills-box .skills-item {
  background-color: #36385b;
  color: #fafeff;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 0.1rem;
}
.skills .skills-box .skills-item i {
  font-size: 2rem;
  color: #fe4a57;
}
.skills .skills-box .skills-item .skill-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-block: 10px;
}
.skills .skills-box .skills-item .skill-desc {
  font-size: 0.9rem;
  margin-block: 10px;
}

.main-foot {
  padding-block: 4rem;
}
.main-foot .foot-title {
  color: #fe4a57;
  font-size: 2rem;
}
.main-foot form {
  display: grid;
  gap: 2rem;
  width: 30%;
}
.main-foot form label {
  display: none;
}
.main-foot form input {
  width: 100%;
  padding: 1rem;
  background-color: #36385b;
  border: none;
  outline: none;
  border-radius: 0.1rem;
  color: #fafeff;
}
.main-foot form input::-moz-placeholder {
  color: #23243b;
}
.main-foot form input::placeholder {
  color: #23243b;
}
.main-foot form button {
  justify-self: end;
  padding: 1rem 2rem;
  background-color: #fe4a57;
  color: #23243b;
  font-size: 1.05rem;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition: color ease-in-out 200ms;
}
.main-foot form button:hover {
  color: #fafeff;
}/*# sourceMappingURL=style.css.map */